<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["ITAssetManager.styles.css"]" />
    <link rel="icon" type="image/png" href="_content/ITAssetManagerComponents/images/brand.png" />
    <HeadOutlet />
    <PageTitle>굿모닝아이텍 SLA</PageTitle>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/ITAssetManagerComponents/js/excelDownload.js"></script>
</body>

</html>
