@inject IHostEnvironment HostEnvironment

<HeadContent>
    <link href="_content/ITAssetManagerComponents/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="_content/ITAssetManagerComponents/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="_content/ITAssetManagerComponents/ITAssetManagerComponents.bundle.scp.css" rel="stylesheet">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet" />
    <link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.css" rel="stylesheet" />
    <link href="_content/ITAssetManagerComponents/lib/kfonts/nanum-gothic/index.min.css" rel="stylesheet" />
    <script src="_content/ITAssetManagerComponents/lib/chart.js/chart.min.js"></script>
</HeadContent>

<Blazorise.ThemeProvider Theme="@theme">
    <Layout Sider="true" Style="font-family: nanum-gothic">
        <LayoutSider>
            <LayoutSiderContent>
                @SidebarContent
            </LayoutSiderContent>
        </LayoutSider>
        <Layout Padding="Padding.Is3.OnAll">
            <LayoutHeader>
                <Heading Size="HeadingSize.Is1" TextColor="TextColor.Primary" TextWeight="TextWeight.Bold">
                    <SectionOutlet SectionId="HeadbarSection" />
                    <Divider />
                </Heading>
            </LayoutHeader>
            <LayoutContent>
                @ChildContent
            </LayoutContent>
        </Layout>
    </Layout>

    <div id="blazor-error-ui" class="w-100 position-fixed bottom-0 z-3 shadow" data-nosnippet>
        <Alert Color="Color.Danger" Margin="Margin.Is0" Visible="true">
            <AlertDescription>
                @if (HostEnvironment.IsProduction())
                {
                    <Text>An error has occurred.</Text>
                }
                else
                {
                    <Text>An unhandled exception occurred.</Text>
                }
                <Blazorise.Link To="" Class="reload">Reload</Blazorise.Link>
                <Div Position="Position.Absolute.Top.Is50.End.Is0.Translate.MiddleY" Margin="Margin.Is3.OnX">
                    <Blazorise.Link To="" Class="dismiss">🗙</Blazorise.Link>
                </Div>
            </AlertDescription>
        </Alert>
    </div>
</Blazorise.ThemeProvider>

<script src="_content/ITAssetManagerComponents/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@code {
    public static object HeadbarSection = new();

    private const string PRIMARY_COLOR = "#023E8A";
    private const string SECONDARY_COLOR = "#0077B6";
    private const string SUCCESS_COLOR = "#90E0EF";
    private const string INFO_COLOR = "#CAF0F8";

    private Theme theme = new Theme
        {
            ColorOptions = new ThemeColorOptions
            {
                Primary = PRIMARY_COLOR,
                Secondary = SECONDARY_COLOR,
                Success = SUCCESS_COLOR,
                Info = INFO_COLOR,
            },
            BackgroundOptions = new ThemeBackgroundOptions
            {
                Primary = PRIMARY_COLOR,
                Secondary = SECONDARY_COLOR,
                Success = SUCCESS_COLOR,
                Info = INFO_COLOR,
            },
            TextColorOptions = new ThemeTextColorOptions
            {
                Primary = PRIMARY_COLOR,
                Secondary = SECONDARY_COLOR,
                Success = SUCCESS_COLOR,
                Info = INFO_COLOR,
            },
            BarOptions = new ThemeBarOptions
            {
                LightColors = new ThemeBarColorOptions
                {
                    BackgroundColor = PRIMARY_COLOR,
                    Color = INFO_COLOR,
                    ItemColorOptions = new ThemeBarItemColorOptions
                    {
                        ActiveBackgroundColor = SUCCESS_COLOR,
                        ActiveColor = PRIMARY_COLOR,
                        HoverBackgroundColor = INFO_COLOR,
                        HoverColor = SECONDARY_COLOR,
                    },
                    DropdownColorOptions = new ThemeBarDropdownColorOptions
                    {
                        BackgroundColor = SECONDARY_COLOR,
                    },
                    BrandColorOptions = new ThemeBarBrandColorOptions
                    {
                        BackgroundColor = INFO_COLOR,
                    },
                },
            },
        };

    [Parameter]
    public RenderFragment? SidebarContent { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}