@using Blazorise

@inherits LayoutComponentBase
@inject IHostEnvironment HostEnvironment

<HeadContent>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet" />
</HeadContent>

@Body

<div id="blazor-error-ui" class="w-100 position-fixed bottom-0 z-3 shadow" data-nosnippet>
    <Alert Color="Color.Danger" Margin="Margin.Is0" Visible="true">
        <AlertDescription>
            @if (HostEnvironment.IsProduction())
            {
                <Text>An error has occurred.</Text>
            }
            else
            {
                <Text>An unhandled exception occurred.</Text>
            }
            <Blazorise.Link To="" Class="reload">Reload</Blazorise.Link>
            <Div Position="Position.Absolute.Top.Is50.End.Is0.Translate.MiddleY" Margin="Margin.Is3.OnX">
                <Blazorise.Link To="" Class="dismiss">🗙</Blazorise.Link>
            </Div>
        </AlertDescription>
    </Alert>
</div>

<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
