<PageTitle>@Title</PageTitle>

<SectionContent SectionId="MainLayoutTemplate.HeadbarSection">
    <Div>@Title</Div>
</SectionContent>

@code {
    [Parameter]
    public string? Title { get; set; }
}
