<Div Position="Position.Relative" Width="Width.Is100" Height="Height.Is100">
    <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
        <SpinKit Type="SpinKitType.Wave" Color="skyblue" />
    </Div>
</Div>