@implements IDisposable
@inject NavigationManager NavigationManager
@inject AntiforgeryStateProvider Antiforgery

<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet">
    <BarToggler />
    <BarBrand>
        <BarItem>
            <BarLink To="/" Match="Match.All" TextWeight="TextWeight.Bold">
                <Image Source="_content/ITAssetManagerComponents/images/brand.png" Text="굿모닝아이텍" Width="Width.Px(25)" Margin="Margin.Is1" />
                굿모닝아이텍(주)
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.FolderPlus" />
                        자산관리
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/" Match="Match.All">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Server" />
                            서버장비
                        </BarDropdownItem>
                        <BarDropdownItem To="/utilities">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Wrench" />
                            유틸리티
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <BarLink To="/faultmanagement">
                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.HeartBroken" />
                    장애관리
                </BarLink>
            </BarItem>
            <AuthorizeView>
                <Authorized>
                    <BarItem>
                        <BarLink To="Account/Manage">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.User" />
                            @context.User.Identity?.Name
                        </BarLink>
                    </BarItem>

                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <BarItem>
                            <Button Type="ButtonType.Submit" Class="b-bar-link" TextAlignment="TextAlignment.Start">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignOutAlt" />
                                로그아웃
                            </Button>
                        </BarItem>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <BarItem>
                        <BarLink To="Account/Register">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.UserPlus" />
                            회원가입
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="Account/Login">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignInAlt" />
                            로그인
                        </BarLink>
                    </BarItem>
                </NotAuthorized>
            </AuthorizeView>

        </BarStart>
    </BarMenu>
</Bar>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

