@page "/unauthorized"
@using Blazorise
@inject NavigationManager NavigationManager

<PageTitle>접근 권한 없음</PageTitle>

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is8.OnTablet.Is6.OnDesktop">
            <Card Margin="Margin.Is5.FromTop">
                <CardHeader>
                    <CardTitle Size="5" TextAlignment="TextAlignment.Center">
                        <Icon Name="IconName.ExclamationTriangle" TextColor="TextColor.Warning" Margin="Margin.Is2.FromEnd" />
                        접근 권한이 없습니다
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <Alert Color="Color.Warning" Visible="true">
                        <AlertMessage>권한 부족</AlertMessage>
                        <AlertDescription>
                            이 페이지에 접근할 권한이 없습니다. 필요한 권한을 얻으려면 관리자에게 문의하세요.
                        </AlertDescription>
                    </Alert>
                    
                    <div class="text-center">
                        <Button Color="Color.Primary" Clicked="@(() => NavigationManager.NavigateTo("/"))">
                            <Icon Name="IconName.Home" Margin="Margin.Is2.FromEnd" />
                            홈으로 돌아가기
                        </Button>
                    </div>
                </CardBody>
            </Card>
        </Column>
    </Row>
</Container>
